In [20]:
import os
import glob
import pandas as pd

In [21]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [22]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_reviews.csv", index=False, encoding='utf-8-sig')

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/internals/blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)

In [23]:
len(combined_csv)
print(len(combined_csv))

2690

In [24]:
dataPM = pd.read_csv('postmates.csv')
dataFramePM = pd.DataFrame(dataPM, columns=['app_name','app_id', 'date', 'title', 'review', 'rating'])

dataUbereats = pd.read_csv('ubereats.csv')
dataFrameUbereats = pd.DataFrame(dataUbereats, columns=['app_name','app_id', 'date', 'title', 'review', 'rating'])

dataGH = pd.read_csv('grubhub.csv')
dataFrameGH = pd.DataFrame(dataGH, columns=['app_name','app_id', 'date', 'title', 'review', 'rating'])

dataDoordash = pd.read_csv('doordash.csv')
dataFrameDoordash = pd.DataFrame(dataDoordash, columns=['app_name','app_id', 'date', 'title', 'review', 'rating'])

#Replace nan "missing values" with empty string
#dataFrame["affiliation"].fillna('', inplace = True)

# affiliations = dataFrame["affiliation"].str.lower()

# affiliations_list = affiliations.tolist()

In [25]:
dataFrameGH.head()

,app_name,app_id,date,title,review,rating
0,grubhub,302920553,2022-10-06 18:04:56,Drivers are doing too much,1. I’ve been waiting for an hour so far for my...,3
1,grubhub,302920553,2022-11-06 07:44:28,Will block you for anything,They blocked my account in sept I have followe...,1
2,grubhub,302920553,2022-09-26 16:54:30,Used to love GrubHub until I was hacked,I’ve used GrubHub for years and thought it was...,4
3,grubhub,302920553,2022-09-26 20:18:27,"So far, so Good!","Today is Monday, September 26, 2022, and this ...",1
4,grubhub,302920553,2022-11-01 20:34:29,Ugh,This company is one of the worst I’ve ever dea...,1

In [26]:
dataFrameUbereats.head()

,app_name,app_id,date,title,review,rating
0,ubereats,1058959277,2022-09-19 02:16:38,Terrible application and customer service,I used Uber Eats for the first time a month ag...,1
1,ubereats,1058959277,2022-09-30 01:03:59,Scam o Rama,Use one of their many competitors. While trave...,1
2,ubereats,1058959277,2022-11-30 15:05:49,Thanks for letting me get robbed multiple time...,I hate this app and have officially stopped us...,1
3,ubereats,1058959277,2022-11-26 23:18:08,Totally disappointed,"This app worked fine for a while, then it star...",2
4,ubereats,1058959277,2022-12-12 15:55:05,Refund,So as of today I deleted this app and I’m no l...,1

In [27]:
dataFramePM.head()

,app_name,app_id,date,title,review,rating
0,postmates,512393983,2022-12-03 02:22:04,Usually great,I use Postmates at least once a week on averag...,4
1,postmates,512393983,2022-12-05 14:21:22,"Support is horrendous, stick to other companies",Tried using Postmates for the first time and a...,1
2,postmates,512393983,2022-10-08 08:13:03,Worse than going to the ER,A few nights ago I placed an order on Postmate...,1
3,postmates,512393983,2022-10-29 11:46:14,Will 100% still your money,I downloaded this app signed up put credit car...,1
4,postmates,512393983,2022-09-26 19:52:04,Insane,Their fees are outrageous.\nNot only do they A...,2

In [28]:
dataFrameDoordash.head()

,app_name,app_id,date,title,review,rating
0,doordash,719972451,2022-12-13 12:55:30,Used to love this service!!,Giving one star because doordash has been my g...,1
1,doordash,719972451,2022-11-15 04:41:26,Beware of driver name OTM,Person never dropped off food and toke a black...,5
2,doordash,719972451,2022-12-10 00:11:50,Only use as last resort,I have been using DoorDash for a while now and...,2
3,doordash,719972451,2022-11-07 04:36:03,Good for consumers bad for dashers.,I have been both a consumer and dasher and it’...,4
4,doordash,719972451,2022-09-24 00:10:33,Customer service is a disaster,"I placed an order, two drivers bailed out on t...",1

In [29]:
combined_reviews = pd.concat((dataFrameGH, dataFrameUbereats, dataFramePM, dataFrameDoordash),axis=0)

In [30]:
combined_reviews.head()

,app_name,app_id,date,title,review,rating
0,grubhub,302920553,2022-10-06 18:04:56,Drivers are doing too much,1. I’ve been waiting for an hour so far for my...,3
1,grubhub,302920553,2022-11-06 07:44:28,Will block you for anything,They blocked my account in sept I have followe...,1
2,grubhub,302920553,2022-09-26 16:54:30,Used to love GrubHub until I was hacked,I’ve used GrubHub for years and thought it was...,4
3,grubhub,302920553,2022-09-26 20:18:27,"So far, so Good!","Today is Monday, September 26, 2022, and this ...",1
4,grubhub,302920553,2022-11-01 20:34:29,Ugh,This company is one of the worst I’ve ever dea...,1

In [31]:
len(combined_reviews)

1345

In [32]:
from pandas import DataFrame

combined_df = DataFrame(combined_reviews, columns=['app_name','app_id', 'date', 'title', 'review', 'rating'])
combined_df["review"].fillna('', inplace = True) 
combined_df["title"].fillna('', inplace = True) 

# print(combined_df)

In [33]:
table = {"app_name": [], "app_id": [], "date": [], "title": [], "review": [], "rating": []}

for x in range(len(combined_df)):
    table["app_name"].append(combined_df['app_name'].iloc[x])
    table["app_id"].append(combined_df['app_id'].iloc[x])
    table["date"].append(combined_df['date'].iloc[x])
    table["title"].append(combined_df['title'].iloc[x])
    table["review"].append(combined_df['review'].iloc[x])
    table["rating"].append(combined_df['rating'].iloc[x])

In [34]:
len(combined_df)

1345

In [35]:
df=pd.DataFrame.from_dict(table,orient='index').transpose()
df.to_csv('combined_reviews.csv', index = False)